<head>
<link rel="stylesheet" href="/loginindex.css">
</head>
<body>
    <div class="charts">
        Top 5 Players(Games played)<br>
        <br> <%= player1 %> <br> <%= player2%> <br> <%= player3%> <br> <%= player4 %> <br> <%= player5 %>
    </div>
</body>
